<div class="row">
  <div class="large-2 columns">&nbsp</div>

  <div class="large-8 columns">
      <span id="sort_by">Sort by</span>
      <select id="sort_type">
        <option value="title" >Title</option>
        <option value="format" >Format</option>
        <option value="availability" >Availability</option>
      </select>
    <hr />

  <div id="books"><%= render 'books' %></div>
  </div>
     <div class="large-2 columns"></div> 
</div>