<div class="row">
  <div class="large-2 columns">&nbsp</div>

<div class="large-8 columns">
    <span id="sort_by">Sort by</span>
    <select id="sort_type" data-remote="true">
      <option value="title" data-remote="true" >Title</option>
      <option value="format" data-remote="true">Format</option>
      <option value="availability"  data-remote="true">Availability</option>
    </select>
<hr />

<div id="books"><%= render 'books' %>  
</div>

  <div class="large-2 columns"></div> 
</div>