<div class="row">
  <div class="large-2 columns">&nbsp</div>

<div class="large-8 columns"> 
 Select Style
  <select id="sort_type">
    <option value="title">Title</option>
    <option value="format">Format</option>
    <option value="availability">Availability</option>
  </select>

  Form style
<%= form_tag(params, :method => :get) do %>
  <%= select_tag(:order_by, options_for_select(["Title", "Format", "Availability"], params[:order_by])) %>
  <%= submit_tag "Sort" %>
<% end %>
  </div>
<hr />

<div id="books"><%= render 'books' %>  
</div>

  <div class="large-2 columns"></div> 
</div>