// Place all the styles related to the api controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
  font-family: helvetica
}

li{
  list-style: none;
  margin: -3px 0px;
}

#book_cover{
  float: left;
  margin: 3px 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
}

#book_title{
  font-weight: bold;
}

#sort_by{
  color: grey;
  line-height: 36px;
  position: absolute;
  right: 180px;
  margin-top: 10px
}

#sort_type{
  float: right;
  max-width: 150px;
  border-radius: 10px;
  margin-top: 10px
}

a:link{
  color: #3BB9FF;
  text-decoration: underline
}

.availability{
  color: yellow;
  font-weight: bold;
}

#missing_author{
  color: grey;
}

#AVAILABLE{
  color: green;
}

#UNAVAILABLE{
  color: red;
}

#format{
  color: grey;
}